#container-1{
	overflow: hidden;
	width:100%;
}

#content-left{
	float: left;
	width: 40%;
	padding-bottom: 500em;
	margin-bottom: -500em;
	height: auto;
}

#content-right {
	float: left;
	width: 60%;
	text-align: left;
	height: auto;
	padding-bottom: 500em;
	margin-bottom: -500em;
	
}

#content-left-no-icon{
	float: left;
	width: 40%;
	padding-left: 6.3%;
} 

#content-left-year{
	float: left;
	width: 40%;
	/*background-color: #DDD;
	*/
}

#content-right-year{
	float: right;
	width: 60%;
	text-align: left;
	/*background-color: #DDD;
	*/
}

.starRating:not(old){
  display        : inline-block;
  width          : 15em;
  height         : 1.5em;
  overflow       : hidden;
  vertical-align : bottom;
  
}

.starRating:not(old) > input{
  margin-right : -100%;
  opacity      : 0;
}

.starRating:not(old) > label{
  display         : block;
  float           : right;
  position        : relative;
  background      : url('../img/star-off.svg');
  background-size : contain;
}

.starRating:not(old) > label:before{
  content         : '';
  display         : block;
  width           : 1.5em;
  height          : 1.5em;
  background      : url('../img/star-on.svg');
  background-size : contain;
  opacity         : 0;
  transition      : opacity 0.2s linear;
}

.starRating:not(old) > label:hover:before,
.starRating:not(old) > label:hover ~ label:before,
.starRating:not(:hover) > :checked ~ label:before{
  opacity : 1;
}