{% extends 'bookstore/base.html' %}
{% block title %}Your Account{% endblock %}
{% load staticfiles %}

{% block stylesheet %}
<link rel="stylesheet" type="text/css" href="{% static 'bookstore/css/account.css' %}">
{% endblock %}


{% block body %}
  <div class="container-fluid account-container">
    <div class="row">
      <div class="col-sm-12 col-md-7">
        <div class="panel panel-default">
          <div class="panel-body">
            <h3>Your Account Details</h3>
            {% if not user.is_anonymous %}
            <h5>You are logged on as {{ user.username }}</h5>
            {% endif %}
            <p>
              Name: {{ user.first_name }} {{ user.last_name }}
            </p>
            <p>
              Credit card number: {{ user.profile.credit_card_number }}
            </p>
            <p>
              Address: {{ user.profile.mailing_address }}
            </p>
            <p>
              Phone number: {{ user.profile.phone_number }}
            </p>
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-sm-12 col-md-7">
        <div class="panel panel-default order-panel">
            <div class="panel-body">
              <h3>Your Order History</h3>
              {% if orders %}
              <ul class="order-panel__list">
                {% for order in orders %}
                <li class="order-panel__list-item">
                  <h4>{{ order.date }}</h4>
                  <p>
                    Title: <a href="{% url 'bookstore:book_details' order.isbn10 %}">{{ order.title }}</a>
                  </p>
                  <p>
                    ISBN13: {{ order.isbn13 }}
                  </p>
                  <p>
                    Price: ${{ order.price }}
                  </p>
                  <p>
                    Quantity: {{ order.quantity }}
                  </p>
                  <p>
                    Total Order Cost: ${{ order.total_cost }}
                  </p>
                </li>
                {% endfor %}
              </ul>
              {% else %}
              <p>
                You have not ordered any book.
              </p>
              {% endif %}
            </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-sm-12 col-md-7">
        <div class="panel panel-default review-panel">
            <div class="panel-body">
              <h3>Your Book Reviews</h3>
              {% if reviews %}
              <ul class="review-panel__list">
                {% for review in reviews %}
                <li class="review-panel__list-item">
                  <h4><a href="{% url 'bookstore:book_details' review.isbn10 %}">{{ review.title }}</a></h4>
                  <p>
                    Date reviewed: {{ review.date }}
                  </p>
                  <p>
                    You rated: {{ review.score }}/10
                  </p>
                  <p>
                    You said: "{{ review.text }}"
                  </p>
                </li>
                {% endfor %}
              </ul>
              {% else %}
              You have not reviewed any book.
              {% endif %}
            </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-sm-12 col-md-7">
        <div class="panel panel-default rating-panel">
            <div class="panel-body">
              <h3>Reviews You Rated</h3>
              {% if ratings %}
              <ul class="rating-panel__list">
                {% for rating in ratings %}
                <li class="rating-panel__list-item">
                  <h4>{{ rating.reviewer }}'s review of <a href="{% url 'bookstore:book_details' rating.isbn10 %}">{{ rating.title }}</a></h4>
                  <p>
                    ISBN13: {{ rating.isbn13 }}
                  </p>
                  <p>
                    Score: {{ rating.review_score }}/10
                  </p>
                  <p>
                    Review: "{{ rating.review_text }}"
                  </p>
                  <p class='rating-list__rating-score'>
                    You rated this review: {{ rating.rating }}
                  </p>
                </li>
                {% endfor %}
              </ul>
              {% else %}
              <p>
                You have not rated anybody's book review.
              </p>
              {% endif %}
            </div>
        </div>
      </div>
    </div>
  </div>
{% endblock %}
