<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>{% block title %}Bookstore App{% endblock %}</title>
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'bookstore/bootstrap.min.css' %}" media="screen">

    <link rel="stylesheet" type="text/css" href="{% static 'css/header.css'  %}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/sidescroll.css'  %}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/gridimg.css'  %}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/searchbar.css'  %}">
    <link rel="stylesheet" type="text/css" href="{% static 'bookstore/style.css' %}" media="screen">

  </head>
  <body>
    <ul>
      <li><a class="active" href="{% url 'bookstore:home' %}">Home</a></li>
      <li><a href="{% url 'bookstore:cart' %}">Cart</a></li>
      <li><a href="{% url 'bookstore:login' %}">Login</a></li>
      <li><a href="{% url 'bookstore:register' %}">Register</a></li>
      <li><a href="{% url 'bookstore:account' %}">Account</a></li>
    <li>
    	<div id="tfheader">
    		<form id="tfnewsearch" method="get" action="{% url 'bookstore:search' %}">
          <label for="search_value">Search: </label>
          <input id="search_value" type="text" name="search_value" maxlength="100" />
    		        <!-- <input type="text" class="tftextinput" name="search" size="21" maxlength="120"> -->
                <input type="submit" value="Submit">
    		</form>
    	</div>
    </li>
    </ul>

    {% block body %}
    {% endblock %}
  </body>
</html>
