
<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>The Bookstore | {% block title %}{% endblock %}</title>
    {% load static %}
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" href="{% static 'bookstore/css/bootstrap.min.css' %}" media="screen">
    <link rel="stylesheet" href="http://www.w3schools.com/lib/w3.css">
    <link rel="stylesheet" type="text/css" href="{% static 'bookstore/css/style.css' %}" media="screen">

    {% block stylesheet %}{% endblock %}

  </head>
  <body>
    <nav class="navbar navbar-inverse navbar-static-top">
      <div class="container-fluid">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="{% url 'bookstore:home' %}">The Bookstore</a>
        </div>

        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
          <form class="navbar-form navbar-left" method="get" action="{% url 'bookstore:search' %}">
            <div class="form-group">
              <input type="text" class="form-control" name="search_value" maxlength="150" placeholder="Search: Title; Author; Publisher; Subject">
            </div>
            <button type="submit" class="btn btn-dark">Search</button>
          </form>
          <ul class="nav navbar-nav navbar-right">
            {% if not user.is_anonymous %}
            {% if user.is_staff %}
            <li><a href="{% url 'bookstore:stats' %}">Stats</a></li>
            <li><a href="{% url 'bookstore:admin' %}">Admin</a></li>
            {% endif %}
            <li><a href="{% url 'bookstore:cart' %}">Cart</a></li>
            <li><a href="{% url 'bookstore:account' %}">Account</a></li>
            <li><a href="{% url 'bookstore:logout' %}">Logout</a></li>
            {% else %}
            <li><a href="{% url 'bookstore:login' %}?next={% firstof request.path '/' %}">Login</a></li>
            <li><a href="{% url 'bookstore:register' %}">Register</a></li>
            {% endif %}
          </ul>
        </div><!-- /.navbar-collapse -->
      </div><!-- /.container-fluid -->
    </nav>

    {% block body %}
    {% endblock %}

    <script type='text/javascript' src="{% static 'bookstore/js/jquery-3.1.1.min.js' %}"></script>
    <script type='text/javascript' src="{% static 'bookstore/js/bootstrap.min.js' %}"></script>

  </body>
</html>
