{% extends 'bookstore/base.html' %}
{% block title %}{{ book.title }}{% endblock %}
{% load staticfiles %}

{% block stylesheet %}
<link rel="stylesheet" type="text/css" href="{% static 'css/book-details.css'  %}">
<link rel="stylesheet" href="http://www.w3schools.com/lib/w3.css">
<link rel='stylesheet' href='https://fonts.googleapis.com/css?family=Roboto'>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.6.3/css/font-awesome.min.css">
{% endblock %}

{% block body %}

<!-- Page Container -->
<div class="w3-content w3-margin-top" style="max-width:1400px;">

  <!-- The Grid -->
  <div class="w3-row-padding">

    <!-- Left Column -->
    <div class="w3-third">

      <div class="w3-white w3-text-grey w3-card-4">
        <div class="w3-display-container">
          <img src={{book_img}} style="width:100%" alt="Avatar">
          <div class="w3-display-bottomleft w3-container w3-text-black">
          </div>
        </div>
        <div class="w3-container">
          <div>
          <p align="center">
          	<form id="addtocart" method="post" action="{% url 'bookstore:add_to_cart' book.isbn10 %}">
            	{% csrf_token %}
          			<button type='submit' value="Add To Cart" class="w3-btn-block w3-yellow w3-hover-khaki" style="font-family: 'Roboto';" text-align: left>
                  <i class="fa fa-shopping-cart fa-fw w3-margin-right w3-large w3-text-black"></i> Add To Cart
                </button>
      			</form>
		  </p>

		  <div id="content-left">
		  	<i class="fa fa-barcode fa-fw w3-margin-right w3-large w3-text-teal"></i><strong>ISBN10</strong>
		  </div>
		  <div id="content-right">
		  	<i class="fa-fw w3-text-teal" align="right"></i>{{book.isbn10}}
		  </div>

		  <div id="content-left-no-icon">
		  	<i class="fa-fw w3-margin-right w3-text-teal"></i><strong>ISBN13</strong>
		  </div>
		  <div id="content-right">
		  	<i class="fa-fw w3-text-teal" align="right"></i>{{book.isbn13}}
		  </div>

          <div id="container-1">
	          <div id="content-left">
			  	<p><i class="fa fa-book fa-fw w3-margin-right w3-large w3-text-teal"></i><strong>Publisher</strong></p>
			  </div>
			  <div id="content-right">
			  	<p><i class="fa-fw w3-text-teal"></i>{{book.publisher}}</p>
			  </div>
		  </div>

		  <div id="content-left">
		  	<p><i class="fa fa-calendar fa-fw w3-margin-right w3-large w3-text-teal"></i><strong>Year Published</strong></p>
		  </div>
		  <div id="content-right">
		  	<p><i class="fa-fw w3-text-teal"></i>{{book.years}}</p>
		  </div>

          <div id="content-left">
		  	<p><i class="fa fa-sort fa-fw w3-margin-right w3-large w3-text-teal"></i><strong>In Stock</strong></p>
		  </div>
		  <div id="content-right">
		  	<p><i class="fa-fw w3-text-teal"></i>{{book.num_copies}}</p>
		  </div>

		  </div>

          </div>
          <br>

      </div><br>

    <!-- End Left Column -->
    </div>

    <!-- Right Column -->
    <div class="w3-twothird">

      <div class="w3-container w3-card-2 w3-white w3-margin-bottom">
        <h2 class="w3-text-grey w3-padding-16"><i class="fa fa-book fa-fw w3-margin-right w3-xxlarge w3-text-dark-grey"></i>{{book.title}}</h2>
        <div class="w3-container">
          <h5 class="w3-opacity"><b>by {{book.author}}</b></h5>
          <h6 class="w3-text-teal"><i class="fa-fw"></i>Summary: {{book.keyword}}</h6>
         <p>
         	<h6 class="w3-text-grey w3-large" style="display:inline"><i class="fa fa-bar-chart-o fa-fw"></i>Rating 	&nbsp;</h6>

           <!-- Rating Stars -->

          <span class="starRating">
          	<input id="rating10" type="radio" name="rating" value="10" disabled {% if rating == 10 %}checked{%endif%}>
        	<label for="rating10">10</label>
          	<input id="rating9" type="radio" name="rating" value="9" disabled {% if rating == 9 %}checked{%endif%}>
        	<label for="rating9">9</label>
          	<input id="rating8" type="radio" name="rating" value="8" disabled {% if rating == 8 %}checked{%endif%}>
        	<label for="rating8">8</label>
          	<input id="rating7" type="radio" name="rating" value="7" disabled {% if rating == 7 %}checked{%endif%}>
        	<label for="rating7">7</label>
          	<input id="rating6" type="radio" name="rating" value="6" disabled {% if rating == 6 %}checked{%endif%}>
        	<label for="rating6">6</label>
			    <input id="rating5" type="radio" name="rating" value="5" disabled {% if rating == 5 %}checked{%endif%}>
        	<label for="rating5">5</label>
        	<input id="rating4" type="radio" name="rating" value="4" disabled {% if rating == 4 %}checked{%endif%}>
	        <label for="rating4">4</label>
	        <input id="rating3" type="radio" name="rating" value="3" disabled {% if rating == 3 %}checked{%endif%}>
	        <label for="rating3">3</label>
	        <input id="rating2" type="radio" name="rating" value="2" disabled {% if rating == 2 %}checked{%endif%}>
	        <label for="rating2">2</label>
	        <input id="rating1" type="radio" name="rating" value="1" disabled {% if rating == 1 %}checked{%endif%}>
	        <label for="rating1">1</label>
		    </span>
		    <h6 class="w3-text-grey w3-margin-left w3-padding-top" style="display:inline"><i class="fa-fw"></i>{{rating}}/10 stars</h6>


		    </p>


		  <!-- End Rating Stars -->

        <hr>
        </div>

        <div class="w3-container">
          <h5 class="w3-opacity"><b>Customers who bought this book also ordered</b></h5>
          <p>Consectetur adipisicing elit. Praesentium magnam consectetur vel in deserunt aspernatur est reprehenderit sunt hic. Nulla tempora soluta ea et odio, unde doloremque repellendus iure, iste.</p>
          <hr>
        </div>
        <div class="w3-container">
          <h5 class="w3-opacity"><b>Read the book? Tell us your thoughts!</b></h5>

          {% if user.is_anonymous %}
          <a href="{% url 'bookstore:login'%}?next={% firstof request.path '/' %}">Login to review</a>
          {% else %}

          {% if error_message %}<p class="w3-text-black"><strong>{{ error_message }}</strong></p>
          {% endif %}

          {% if review_success %}<p class="w3-text-black"><strong>Thank you for your review!</strong></p>
          {% endif %}
          <!-- Second rating stars -->
          <p>
            <h6 class="w3-text-grey" style="display:inline"><i class="fa-fw"></i>Rate me: </h6>
          <form action="{% url 'bookstore:review' book.isbn10 %}" method="post">
          {% csrf_token %}
          <span name="r" class="starRating-n">
            <input id="rating10a" type="radio" name="ratinga" value="10" {% if uscore == 10 %}checked{%endif%}>
          <label for="rating10a">10</label>
            <input id="rating9a" type="radio" name="ratinga" value="9" {% if uscore == 9 %}checked{%endif%}>
          <label for="rating9a">9</label>
            <input id="rating8a" type="radio" name="ratinga" value="8" {% if uscore == 8 %}checked{%endif%}>
          <label for="rating8a">8</label>
            <input id="rating7a" type="radio" name="ratinga" value="7" {% if uscore == 7 %}checked{%endif%}>
          <label for="rating7a">7</label>
            <input id="rating6a" type="radio" name="ratinga" value="6" {% if uscore == 6 %}checked{%endif%}>
          <label for="rating6a">6</label>
          <input id="rating5a" type="radio" name="ratinga" value="5" {% if uscore == 5 %}checked{%endif%}>
          <label for="rating5a">5</label>
          <input id="rating4a" type="radio" name="ratinga" value="4" {% if uscore == 4 %}checked{%endif%}>
          <label for="rating4a">4</label>
          <input id="rating3a" type="radio" name="ratinga" value="3" {% if uscore == 3 %}checked{%endif%}>
          <label for="rating3a">3</label>
          <input id="rating2a" type="radio" name="ratinga" value="2" {% if uscore == 2 %}checked{%endif%}>
          <label for="rating2a">2</label>
          <input id="rating1a" type="radio" name="ratinga" value="1" {% if uscore == 1 %}checked{%endif%}>
          <label for="rating1a">1</label>
        </span>

        <br><br>
        <textarea cols="50" rows="5" style="width:100%" name="ureview" placeholder="What do you think of the book?"></textarea>
        <br><br>

        <button type='submit' value="review" class="w3-btn w3-lightgray w3-hover-grey" style="font-family: 'Roboto';" text-align: left><i class="fa-fw w3-large w3-text-black">
        </i>Submit My Review</button>
        </form>
      </p>
      {% endif %}

      <!-- End Review -->
        </div>
      </div>


      <!-- LAST CONTAINER -->


      <div class="w3-container w3-card-2 w3-white">
        <h2 class="w3-text-grey w3-padding-16"><i class="fa fa-certificate fa-fw w3-margin-right w3-xxlarge w3-text-teal"></i>See Community Reviews</h2>
        <div class="w3-container">

          <h5 class="w3-opacity"><b>W3Schools.com</b></h5>
          <h6 class="w3-text-teal"><i class="fa fa-calendar fa-fw w3-margin-right"></i>Forever</h6>
          <p>Web Development! All I need to know in one place</p>
          <hr>
        </div>
        <div class="w3-container">
          <h5 class="w3-opacity"><b>London Business School</b></h5>
          <h6 class="w3-text-teal"><i class="fa fa-calendar fa-fw w3-margin-right"></i>2013 - 2015</h6>
          <p>Master Degree</p>
          <hr>
        </div>
        <div class="w3-container">
          <h5 class="w3-opacity"><b>School of Coding</b></h5>
          <h6 class="w3-text-teal"><i class="fa fa-calendar fa-fw w3-margin-right"></i>2010 - 2013</h6>
          <p>Bachelor Degree</p><br>
        </div>
      </div>

    <!-- End Right Column -->
    </div>

  <!-- End Grid -->
  </div>

  <!-- End Page Container -->
</div>

{% endblock %}
