{% extends 'bookstore/base.html' %}
{% block title %}Cart{% endblock %}
{% load staticfiles %}

{% block stylesheet %}
<link rel="stylesheet" type="text/css" href="{% static 'bookstore/css/cart-style.css'  %}" />
<link rel='stylesheet' href='https://fonts.googleapis.com/css?family=Roboto'>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.6.3/css/font-awesome.min.css">
{% endblock %}

{% block body %}
<div class="w3-third">
  <div class="w3-container w3-card w3-white w3-margin-bottom w3-margin-left">
    <h2 class="w3-text-grey w3-padding-16"><i class="fa fa-shopping-cart fa-fw w3-margin-right w3-xxlarge w3-text-teal"></i>Your Cart</h2>
    <form method="post" action="{% url 'bookstore:order' %}">
      {% csrf_token %}
      {% if cart %}
      {% for item in cart %}
        <div class="w3-container">
            <h5 class="w3-xlarge"><a href="{% url 'bookstore:book_details' item.isbn13.isbn10 %}"><b>{{item.isbn13.title}}</b></h5></a>
            {% for k,v in img_dict.items %}
              {% if k == item.isbn13.isbn13 %}
              <img style="margin-bottom:10px" src={{v}}>
              {% endif %}
            {% endfor %}
            <br>
            <p class="w3-text-dark-grey">Price: ${{item.isbn13.price}}</p>
            <p class="w3-text-dark-grey">In Stock: {{item.isbn13.num_copies}}</p>
            {% for book in not_enough %}
              {{book.isbn13}}
              {% if book == item.isbn13.isbn13 %}
                <p class="w3-text-red">Sorry, we have insufficient stock to process your order! :(</p>
              {% endif %}
            {% endfor %}
            <button style="float:left" name="remove" value={{item.isbn13.isbn13}} type="submit" class="w3-margin-right w3-margin-bottom w3-btn w3-yellow">Remove</button>
            <p style="cart-submit text-align=right" class="w3-right w3-text-dark-grey">
            Copies:  <input type="number" min="1" value="{{item.num_order}}" id="new_orders" style="width=50%" name="{{item.isbn13.isbn13}}"></p>

            <br>
            <hr>

        </div>
      {% endfor %}
    <button style="float:right" name="Submit" value="Submit" type="submit" class="w3-margin-right w3-margin-bottom w3-btn">Submit</button>

    {% else %}
    <p class="w3-text-black"><strong>You currently do not have any books in your cart</strong></p>
    {% endif %}
    </form>
  </div>
</div>

 <!-- End left column -->

  <!-- Start Right Column -->

<div class="w3-twothird">
  <div class="w3-container w3-card w3-white w3-margin-bottom w3-margin-left w3-margin-right">
    <h2 class="w3-text-grey w3-padding-16"><i class="fa fa-book fa-fw w3-margin-right w3-xxlarge w3-text-teal"></i>Orders Placed</h2>

    {% for item in orders %}

        <div class="w3-container">


            <h5 class="w3-large"><u><a href="{% url 'bookstore:book_details' item.isbn13.isbn10 %}"><b>{{item.isbn13.title}}</b></u></h5></a>
            <br>

            <p style="text-align=left" class="w3-left w3-text-dark-grey">
            <div class="w3-container">
              <p class="w3-left w3-text-dark-grey">ISBN13: {{item.isbn13.isbn13}}</p>
            </div>
            <div class="w3-container">
              <p class="w3-left w3-text-dark-grey">ISBN10: {{item.isbn13.isbn10}}</p>
            </div>
            <div class="w3-container">
              <p class="w3-left w3-text-dark-grey">Date Ordered: {{item.order_date}}</p>
            </div>
            <div class="w3-container">
              <p class="w3-left w3-text-dark-grey">Total Price:&nbsp </p>
              <p id={{item.id}}>nun</p>

            </div>
            <div class="w3-container">
              <p class="w3-left w3-text-dark-grey">Order Status: {{item.order_status}}</p>
            </div>
            <div class="w3-container w3-left w3-large">
              Copies Ordered:<b class="w3-text-grey"> {{item.num_order}}</b></p>
            </div>
            <script>
                var c = {{item.isbn13.price}}*{{item.num_order}};
                document.getElementById({{item.id}}).innerHTML='$'+c.toFixed(2);
            </script>

            <br>
            <hr>

        </div>
      {% endfor %}

  </div>
</div>
{% endblock %}
