<!DOCTYPE html>
<html>
<head>
<style>
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
}

li {
    float: left;
}

li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

li a:hover {
    background-color: #111;
}
</style>
</head>
<body>

<ul>
  <li><a class="active" href="/bookstore/home">Home</a></li>
  <li><a href="/bookstore/cart">Cart</a></li>
  <li><a href="/bookstore/login">Login/Sign up</a></li>
  <li><a href="/bookstore/account">Account</a></li>
</ul>

</body>
</html>
