{% extends 'bookstore/base.html' %}
{% block title %}Home{% endblock %}
{% load staticfiles %}

{% block stylesheet %}
<link rel="stylesheet" type="text/css" href="{% static 'bookstore/css/index.css'  %}">
{% endblock %}

{% block body %}

<div class="home__header container">
  <div class="row">
    <div class="col-sm-12">
      <h1>The Bookstore</h1>
      <h5>For readers, By readers.</h5>
      {% if not user.is_anonymous %}
        <h3>Hello {{ user.first_name }}</h3>
      {% endif %}
    </div>
  </div>
</div>

<div class="rig">
  <ul id="rig">
      <li>
          <a class="rig-cell" href="#">
              <img class="rig-img" src="{% static "img/img-arts.jpg"  %}">
              <span class="rig-overlay"></span>
              <span class="rig-text">Arts</span>
          </a>
      </li>
      <li>
          <a class="rig-cell" href="#">
            <img class="rig-img" src="{% static "img/image-2.jpg"  %}">
              <span class="rig-overlay"></span>
              <span class="rig-text">Accounting</span>
          </a>
      </li>
      <li>
          <a class="rig-cell" href="#">
            <img class="rig-img" src="{% static "img/img-business.jpg"  %}">
              <span class="rig-overlay"></span>
              <span class="rig-text">Business</span>
          </a>
      </li>
      <li>
          <a class="rig-cell" href="#">
            <img class="rig-img" src="{% static "img/image-4.jpg"  %}">
              <span class="rig-overlay"></span>
              <span class="rig-text">Curabitur tempus</span>
          </a>
      </li>
      <li>
          <a class="rig-cell" href="#">
            <img class="rig-img" src="{% static "img/image-5.jpg"  %}">
              <span class="rig-overlay"></span>
              <span class="rig-text">Sed et nunc luctus</span>
          </a>
      </li>
      <li>
          <a class="rig-cell" href="#">
            <img class="rig-img" src="{% static "img/image-6.jpg"  %}">
              <span class="rig-overlay"></span>
              <span class="rig-text">Suspendisse tellus</span>
          </a>
      </li>
      <li>
          <a class="rig-cell" href="#">
              <img class="rig-img" src="{% static "img/image-1.jpg"  %}">
              <span class="rig-overlay"></span>
              <span class="rig-text">Lorem Ipsum Dolor</span>
          </a>
      </li>
      <li>
          <a class="rig-cell" href="#">
            <img class="rig-img" src="{% static "img/image-2.jpg"  %}">
              <span class="rig-overlay"></span>
              <span class="rig-text">Consectetur Adipiscing</span>
          </a>
      </li>
      <li>
          <a class="rig-cell" href="#">
            <img class="rig-img" src="{% static "img/image-3.jpg"  %}">
              <span class="rig-overlay"></span>
              <span class="rig-text">Vivamus ut Felis</span>
          </a>
      </li>
      <li>
          <a class="rig-cell" href="#">
            <img class="rig-img" src="{% static "img/image-4.jpg"  %}">
              <span class="rig-overlay"></span>
              <span class="rig-text">Curabitur tempus</span>
          </a>
      </li>
      <li>
          <a class="rig-cell" href="#">
            <img class="rig-img" src="{% static "img/img-science.jpg"  %}">
              <span class="rig-overlay"></span>
              <span class="rig-text">Science</span>
          </a>
      </li>
      <li>
          <a class="rig-cell" href="#">
            <img class="rig-img" src="{% static "img/img-society.jpg"  %}">
              <span class="rig-overlay"></span>
              <span class="rig-text">Society</span>
          </a>
      </li>
  </ul>
</div>
{% endblock %}
