{% extends 'bookstore/base.html' %}
{% block title %}Search Results{% endblock %}
{% load staticfiles %}
{% block stylesheet %}
<link rel="stylesheet" type="text/css" href="{% static 'bookstore/css/search-results.css'  %}">
{% endblock %}
{% block body %}

<div class="container">
  <div class="row">
    <div class="col-sm-12">
      <h1>Search Results</h1>
    </div>
  </div>
  <div class="sort-by">
    <p>Sort by:</p>
    <a href="{% url 'bookstore:search_filter_author' %}">Author | </a>
    <a href="{% url 'bookstore:search_filter_score' %}">User Rating | </a>
    <a>Year | </a>
  </div>
  <div class="row">
    <div class="col-sm-12">
      {% for book in books|dictsortreversed:"data.year"%}
            <div id="column1">
                <img src={{book.data.url}}>
            <!-- dict sort django -->
            </div>
          <div id="column2">
            Title: <a href="{% url 'bookstore:book_details' book.isbn10 %}">{{ book.data.title }}</a><br>
            Author: <a href="{% url 'bookstore:search_specific' 'author' book.data.author %}">{{ book.data.author }}</a><br>
            Publisher: <a href="{% url 'bookstore:search_specific' 'publisher' book.data.publisher %}">{{ book.data.publisher }}</a><br>
            Year: {{ book.data.year }}
        </div>
        <div class="clear"></div>
      {% endfor %}
    </div>
  </div>
</div>

{% endblock %}
