.account-container a {
    color: #00796B;
}
.order-panel__list, .review-panel__list, .rating-panel__list {
    margin: 24px 0;
}

.order-panel__list-item, .review-panel__list-item, .rating-panel__list-item {
    margin: 24px 0;
}

.rating-list__rating-score {
    font-style: italic;
}
