
.drop:hover, .drop:focus {
    background-color: #3e8e41;
}

.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    margin-left: 75px;
    background-color: #f9f9f9;
    min-width: 6px;
    overflow: auto;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
}

.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.dropdown a:hover {background-color: #f1f1f1}

.show {display:block;}

.starRating:not(old){
  display        : inline-block;
  width          : 15em;
  height         : 1.5em;
  overflow       : hidden;
  vertical-align : bottom;
}

.starRating:not(old) > input{
  margin-right : -100%;
  opacity      : 0;
}

.starRating:not(old) > label{
  display         : block;
  float           : right;
  position        : relative;
  background      : url('../../img/star-off.svg');
  background-size : contain;
}

.starRating:not(old) > label:before{
  content         : '';
  display         : block;
  width           : 1.5em;
  height          : 1.5em;
  background      : url('../../img/star-on.svg');
  background-size : contain;
  opacity         : 0;
  transition      : opacity 0.2s linear;
}


.review-drop {
  width: 50px;
  border-style: none;
  display: inline-block;
}

.starRating > :checked ~ label:before{
  opacity : 1;
}


.starRating-n:not(old){
  display        : inline-block;
  width          : 15em;
  height         : 1.5em;
  overflow       : hidden;
  vertical-align : bottom;

}
.starRating-n:not(old) > input{
  margin-right : -100%;
  opacity      : 0;
}

.starRating-n:not(old) > label{
  display         : block;
  float           : right;
  position        : relative;
  background      : url('../../img/star-off2.svg');
  background-size : contain;
}

.starRating-n:not(old) > label:before{
  content         : '';
  display         : block;
  width           : 1.5em;
  height          : 1.5em;
  background      : url('../../img/star-on2.svg');
  background-size : contain;
  opacity         : 0;
  transition      : opacity 0.2s linear;
}

.starRating-n:not(old) > label:hover:before,
.starRating-n:not(old) > label:hover ~ label:before,
.starRating-n:not(:hover) > :checked ~ label:before{
  opacity : 1;
}

#container-1{
  overflow: hidden;
  width:100%;
}

#content-left{
  float: left;
  width: 40%;
  padding-bottom: 500em;
  margin-bottom: -500em;
  height: auto;
  margin-right: 5px;
}

#content-right {
  float: left;
  width: 55%;
  text-align: left;
  height: auto;
  padding-bottom: 500em;
  margin-bottom: -500em;
  
}

#content-left-no-icon{
  float: left;
  width: 40%;
  padding-left: 6.3%;
  margin-right: 5px;
} 

#content-left-year{
  float: left;
  width: 40%;
  /*background-color: #DDD;
  */
}

#content-right-year{
  float: right;
  width: 60%;
  text-align: left;
  /*background-color: #DDD;
  */
}


