#column1 {
  width: 200px;
  float: left;
  margin-top: 50px;
}
#column2 {
  margin-left: 200px;
  margin-top: 50px;
  font-size:18pt;
  color:#23238e;
}
img {
  width:187px;
  height:250px;
}
.clear {
  clear: both;
}
